@font-face {
    font-family: 'Kodchasan-Regular';
    src: url('../../fonts/Kodchasan-Regular.ttf') format('truetype');
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    padding: 10px;
    box-shadow: 0 4px 0 rgba(0, 0, 0, 0.1);
    /* background-color: rgba(0, 0, 0, 0.5); Przezroczyste tło */
    backdrop-filter: blur(10px); /* Rozmycie tła */
    align-items: center;
    z-index: 100; /* Zawsze na wierzchu */

    font-family: 'Montserrat-Medium';
    font-size: 12px;
    color: #021840; /* Kolor tekstu */
}

.modalContainer {
    background-color: white;
    max-height: fit-content;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
   
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5); /* Cień wokół kontenera */
}

.modalContainer h3 {
    margin-top: 10px;
    font-size: 20px;
    font-family: 'Montserrat-Medium';
    color: #021840; /* Kolor nagłówka */
}

.modalContainer input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    font-size: 12px;
    font-family: 'Montserrat-Regular';
}

.selector {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.selector label {
    font-size: 12px;
    font-family: 'Montserrat-Medium';
    color: #021840; 
}

.selector select {
    width: fit-content;
}
.modalButtons button {
    margin: 10px;
    padding: 5px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-image: linear-gradient(90deg, #1D61DC 9%, #1D61DC 47%, #103476 100%);
    color: white;
    font-size: 14px;
    font-family: 'Kodchasan-Regular';
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.modalButtons button:hover {
    background-color: #0056b3;
}

.numberSelector {
    display: flex;
    align-items: center;
}

.numberSelector button {
    background-color: #1D61DC;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.numberSelector button:hover {
    background-color: #0056b3;
}

.numberSelector input {
    width: 50px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0 5px;
    font-size: 14px;
}