.background{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #D7DFEE;
}

.navbar{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-image: linear-gradient(90deg, #1D61DC 0%, #103476 47%);
    color: #FFFFFF;
    box-shadow: 0 4px 0 rgba(0, 0, 0, 0.1);
    
}

.profilDiv{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px;
    width: 100%;
    font-family: 'Kodchasan-SemiBold';
    font-size: 20px;
    text-align: right;
}

.uppercase{
    text-transform: uppercase;
}

.burger{
    color: #FFFFFF; 
    font-size: 24px;
    display: flex;
    align-items: center;
  }

.userdetails {
    padding: 20px;
    background-color: #F5F7FA;
    border-radius: 20px;
    margin: 20px;
}

.userdetails h2 {
    font-family: 'Montserrat-Medium';
    font-size: 15px;
    margin-bottom: 20px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-family: 'Kodchasan-SemiBold';
    font-size: 15px;
    margin-top: 10px;
}

input, select{
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
    font-family: 'Montserrat-Medium';
}

.buttonEdit {
    justify-self: center;
    background-image: linear-gradient(90deg, #1D61DC 9%, #1D61DC 47%, #103476 100%);
    color: #FFFFFF;
    width: 50%;
    padding: 10px;
    border-radius: 10px;
    border-width: 0px;
    font-family: 'Kodchasan-SemiBold';
    font-size: 20px;
}

.buttonEdit:hover {
    background-color: #103476;
}

.buttoncenter {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}