.background{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #D7DFEE;
}

.navbar{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-image: linear-gradient(90deg, #1D61DC 0%, #103476 47%);
    color: #FFFFFF;
    box-shadow: 0 4px 0 rgba(0, 0, 0, 0.1);
    
}

.profilDiv{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px;
    width: 100%;
    font-family: 'Kodchasan-SemiBold';
    font-size: 20px;
    text-align: right;
}

.uppercase{
    text-transform: uppercase;
    white-space: nowrap;
}

.burger{
    color: #FFFFFF; 
    font-size: 24px;
    display: flex;
    align-items: center;
  }

  .userdetails {

    padding: 0;
    background-color: #f9f9f9; /* Lekki kolor tła */
    border-radius: 8px; /* Zaokrąglone rogi */
    margin: 20px; /* Zewnętrzne odstępy */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Lekki cień */
}

.userdetails1 p {
    margin: 0; /* Usuń margines */
    padding: 20px; /* Dodaj padding wewnętrzny */
    font-size: 15px;
    color: #333;
    font-family: 'Montserrat-Medium';
}

.userdetails1 strong {
    font-size: 16px;
    color: #103476;
    font-family: 'Montserrat-SemiBold';
}


.userdetails h2 {
    padding: 20px;
    text-align: center;
    font-family: 'Montserrat-Medium';
    font-size: 20px;
    margin-bottom: 20px;
}


form {
    display: flex;
    flex-direction: column;
}

label {
    font-family: 'Kodchasan-SemiBold';
    font-size: 15px;
    margin-top: 10px;
}

input, select{
    padding: 10px;
    /* margin-top: 5px; */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
    font-family: 'Montserrat-Medium';
}

.buttonUser {
    justify-self: center;
    background-image: linear-gradient(90deg, #1D61DC 9%, #1D61DC 47%, #103476 100%);
    color: #FFFFFF;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border-width: 0px;
    font-family: 'Kodchasan-SemiBold';
    font-size: 20px;
}

.buttonUser:hover {
    background-color: #103476;
}

.buttoncenter {
    display: flex;
    justify-self: center;
    justify-content: center;
    margin-top: 30px;
    padding: 20px;
}

.line {
    background-color: #D7DFEE;
    height: 1px;
    width: 80%;
    margin: 0; /* Upewnij się, że nie ma marginesu */
}