.background{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #D7DFEE;
}

.navbar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px;
    padding-top: 0;
    padding-bottom: 0;
    background-image: linear-gradient(90deg, #1D61DC 0%, #103476 47%);
    color: #FFFFFF;
    box-shadow: 0 4px 0 rgba(0, 0, 0, 0.1);
}

.profilDiv{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    font-family: 'Kodchasan-SemiBold';
    font-size: 20px;
    text-align: center;
}

.end {
    white-space: nowrap; /* Keep "Profil zawodnika" on one line */
    font-size: 18px; /* You can also adjust the size if needed */
}

.uppercase{
    text-transform: uppercase;
    font-size: 18px; /* Adjust the size to create distinction */
}

.burger{
    color: #FFFFFF; 
    font-size: 24px;
    display: flex;
    align-items: center;
  }

  .userdetails {

    padding: 10px;
    background-color: #f9f9f9; /* Lekki kolor tła */
    border-radius: 8px; /* Zaokrąglone rogi */
    margin: 20px; /* Zewnętrzne odstępy */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Lekki cień */
}

.userdetails1 p {
    margin: 0; /* Usuń margines */
    padding: 20px; /* Dodaj padding wewnętrzny */
    font-size: 15px;
    color: #333;
    font-family: 'Montserrat-Medium';
}

.userdetails1 strong {
    font-size: 16px;
    color: #103476;
    font-family: 'Montserrat-SemiBold';
}


.userdetails h2 {
    padding: 20px;
    text-align: center;
    font-family: 'Montserrat-Medium';
    font-size: 20px;
    margin-bottom: 20px;
}


form {
    display: flex;
    flex-direction: column;
}

label {
    font-family: 'Kodchasan-SemiBold';
    font-size: 15px;
    margin-top: 10px;
}

input, select{
    padding: 10px;
    /* margin-top: 5px; */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
    font-family: 'Montserrat-Medium';
}

.buttonUser {
    justify-self: center;
    background-image: linear-gradient(90deg, #1D61DC 9%, #1D61DC 47%, #103476 100%);
    color: #FFFFFF;
    width: 50%;
    padding: 10px;
    border-radius: 10px;
    border-width: 0px;
    font-family: 'Kodchasan-SemiBold';
    font-size: 20px;
    cursor: pointer; /* Kursor zmienia się na wskazujący */
    transition: box-shadow 0.3s, transform 0.3s; /* Płynna zmiana cienia i transformacji */
}

.buttonUser:hover {
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2); /* Większy cień przy najechaniu */
    transform: translateY(-2px); /* Lekko unosi przy najechaniu */
}

.buttonUser:active {
    background-color: #103476;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3); /* Mniejszy cień przy kliknięciu */
    transform: translateY(0); /* Powrót do normalnej pozycji */
}

.buttonEdit {
    justify-self: center;
    background-image: linear-gradient(90deg, #1D61DC 9%, #1D61DC 47%, #103476 100%);
    color: #FFFFFF;
    padding: 5px;
    border-radius: 10px;
    border-width: 0px;
    font-family: 'Kodchasan-Medium';
    font-size: 16px;
    cursor: pointer; /* Kursor zmienia się na wskazujący */
    transition: box-shadow 0.3s, transform 0.3s; /* Płynna zmiana cienia i transformacji */
}

.buttoncenter {
    display: flex;
    justify-self: center;
    justify-content: center;
    margin-top: 30px;
    padding: 20px;
}

.line {
    background-color: #D7DFEE;
    height: 1px;
    width: 80%;
    margin: 0; /* Upewnij się, że nie ma marginesu */
}

.showPassword {
    margin-top: 10px;
    font-family: 'Montserrat-Medium';
    font-size: 14px;
    color: #1D61DC;
    cursor: pointer;
    display: flex;
    justify-content: right;
}

.showPassword:active {
    color: #000f63;
}