.background{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #D7DFEE;
}

.navbar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-image: linear-gradient(90deg, #1D61DC 0%, #103476 47%);
    color: #FFFFFF;
    box-shadow: 0 4px 0 rgba(0, 0, 0, 0.1);
    
}

.profilDiv{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    font-family: 'Kodchasan-SemiBold';
    font-size: 20px;
    text-align: center;
}

.end {
    white-space: nowrap; /* Keep "Profil zawodnika" on one line */
    margin-bottom: 10px; /* Adjust this value to add more space */
    font-size: 18px; /* You can also adjust the size if needed */
}

.uppercase{
    text-transform: uppercase;
    font-size: 18px;
}

.burger{
    color: #FFFFFF; 
    font-size: 24px;
    display: flex;
    align-items: center;
  }

.userdetails {
    padding: 20px;
    background-color: #F5F7FA;
    border-radius: 20px;
    margin: 20px;
}

.userdetails h2 {
    font-family: 'Montserrat-Medium';
    font-size: 15px;
    margin-bottom: 20px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-family: 'Kodchasan-SemiBold';
    font-size: 15px;
    margin-top: 10px;
}

.change_password {
    color: #a7b7d6;
    font-family: 'Kodchasan-SemiBold';
    font-size: 15px;
    margin: 10px 0;
    cursor: pointer;
    text-align: center;
    cursor: pointer; /* Kursor zmienia się na wskazujący */
    transition: box-shadow 0.3s, transform 0.3s; /* Płynna zmiana cienia i transformacji */
}
.change_password:hover {
box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2); /* Większy cień przy najechaniu */
transform: translateY(-2px); /* Lekko unosi przy najechaniu */
}

.change_password:active {
box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3); /* Mniejszy cień przy kliknięciu */
transform: translateY(0); /* Powrót do normalnej pozycji */
}


input, select{
    padding: 10px;
    /* margin-top: 5px; */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
    font-family: 'Montserrat-Medium';
}

.buttonEdit {
    justify-self: center;
    background-image: linear-gradient(90deg, #1D61DC 9%, #1D61DC 47%, #103476 100%);
    color: #FFFFFF;
    width: 50%;
    padding: 10px;
    border-radius: 10px;
    border-width: 0px;
    font-family: 'Kodchasan-SemiBold';
    font-size: 20px;
    cursor: pointer; /* Kursor zmienia się na wskazujący */
    transition: box-shadow 0.3s, transform 0.3s; /* Płynna zmiana cienia i transformacji */
}

.buttonEdit:hover {
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2); /* Większy cień przy najechaniu */
    transform: translateY(-2px); /* Lekko unosi przy najechaniu */
}

.buttonEdit:active {
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3); /* Mniejszy cień przy kliknięciu */
    transform: translateY(0); /* Powrót do normalnej pozycji */
}

.buttoncenter {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}