.buttonsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.buttonsContainer button {
    margin: 0 5px;
    padding: 5px 10px;
    background-image: linear-gradient(90deg, #1D61DC 9%, #1D61DC 47%, #103476 100%);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    font-family: 'Kodchasan-SemiBold';
    cursor: pointer; /* Kursor zmienia się na wskazujący */
    transition: box-shadow 0.3s, transform 0.3s;
}

video{
    border: 1px solid #ccc;
    border-radius: 10px;
    max-width: 100%;
    padding: 10px;
}

canvas {
  touch-action: none;
}

.multiLineDiv{
    width: 100%;
    padding: 14px;
}

.multiLineInput{
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    line-height: 1.5;
    resize: vertical;
    overflow-wrap: break-word;
    font-family: 'Roboto-Regular';
    border-radius: 4px;
    border-color: #CCC;
}

.background{
    display: grid;
    grid-template-rows: flex; 
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #D7DFEE;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 20px;
    background-image: linear-gradient(90deg, #1D61DC 0%, #103476 47%);
    color: #FFFFFF;
    font-family: "Poppins-Medium";
    font-size: 20px;
    height: 80px;
    min-height: 80px;
}

.left_navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.writing_div{
    font-family: 'Kodchasan-SemiBold';
    font-size: 20px;
}