.background{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #D7DFEE;
}

.rectangleStats{
    align-items: center; /* Centruje elementy pionowo */
    background-color: #FFFFFF; /* Biały kolor tła */
    border-radius: 15px; /* Zaokrąglone rogi */
    padding: 10px; /* Wewnętrzne odstępy */
    margin: 10px; /* Odstęp od brzegów */
    margin-bottom: 40px;
    box-shadow: 0 4px 0 rgba(0, 0, 0, 0.15); /* Delikatny cień */
  }
  
.rectangleSActivities{
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF; /* Biały kolor tła */
  border-radius: 15px; /* Zaokrąglone rogi */
  padding: 10px; /* Wewnętrzne odstępy */
  margin: 10px; /* Odstęp od brzegów */
}

  
.multidayRectangle {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #103476;
  font-family: 'Kodchasan-Medium';
  font-size: 16px; /* Większa czcionka */
  background-color: #ffffff; /* Biały kolor tła */
  border-top: 1px solid #D7DFEE ;
  padding: 10px; /* Wewnętrzne odstępy */
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.15); /* Delikatny cień */
}

  .dayHeader {
    display: flex;
    color: #000000; /* Niebieski kolor tekstu */
    font-size: 16px; /* Większa czcionka */
    font-family: 'Montserrat-Medium';
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: 10px;
    letter-spacing: 2px;
    text-transform: uppercase; /* Zmienia tekst na wielkie litery */
  }

.date {
  white-space: nowrap; /* Zapobiega łamaniu tekstu */
  overflow: hidden;    /* Ukrywa nadmiar tekstu */
  text-overflow: ellipsis; /* Dodaje wielokropek, jeśli tekst jest za długi */
  font-size: clamp(12px, 2vw, 16px); /* Dynamiczna zmiana rozmiaru czcionki */
  width: fit-content; /* Dopasowuje szerokość do treści */
}

.date_div{
  display: flex;
  justify-content: left;
  align-items: center;
  font-family: 'Montserrat-SemiBold';
  font-size: 14px;
  color: #FFFFFF;
  white-space: nowrap;
}

.commentContainer {
  display: flex;
  justify-content: space-between; /* Rozstawia elementy po przeciwnych stronach */
  align-items: center; /* Wyrównuje elementy pionowo na środku (opcjonalne) */
}

.comment {
  text-align: right; /* Wyrównuje tekst komentarza do prawej */
  flex-grow: 1; /* Zapełnia przestrzeń po lewej stronie */
  white-space: pre-line; /* Zachowuje spacje i nowe linie */
}

 .text p {
    color: #000000;
    font-size: 15px;
    font-family: 'Montserrat-Regular';
    margin: 5px;
  }

.textBold p {
    color: #000000;
    font-size: 15px;
    font-family: 'Montserrat-Medium';
    margin: 5px;
  }


  
.activity {
  display: grid;
  grid-template-columns: 1fr auto; /* Dwie kolumny: jedna elastyczna na tekst i jedna dla strzałki */
  align-items: center; /* Centrowanie w pionie */
  border-radius: 15px;
  border: 2px solid;
  margin: 10px 0;
  padding: 5px, 10px;
  box-shadow: 0 4px 2px rgba(0, 0, 0, 0.1);
  text-align: left;
  color: #000000;
  font-size: 15px;
  font-family: 'Montserrat-Regular';
  margin: 5px;
  cursor: pointer; /* Kursor zmienia się na wskazujący */
  transition: box-shadow 0.3s, transform 0.3s; /* Płynna zmiana cienia i transformacji */
}

.activity:hover {
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2); /* Większy cień przy najechaniu */
  transform: translateY(-2px); /* Lekko unosi przy najechaniu */
}

.activity:active {
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3); /* Mniejszy cień przy kliknięciu */
  transform: translateY(0); /* Powrót do normalnej pozycji */
}

.activity p {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 10px;
  color: #000000;
  font-size: 15px;
  font-family: 'Montserrat-Regular';
  margin: 5px;
  gap: 10px;
}

.activity h3 {
    padding-top: 5px;
    padding-left: 10px;
    margin: 5px ;
    font-size: 15px;
    font-family: 'Montserrat-Regular';
    text-align: justify;
}


.navbar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
    background-image: linear-gradient(90deg, #1D61DC 0%, #103476 47%);
    color: #FFFFFF;
    font-family: "Poppins-Medium";
    font-size: 10px;
    box-shadow: 0 4px 0 rgba(0, 0, 0, 0.1);
  
}

.arrowButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  color: #ffffff;
  cursor: pointer;
  font-size: 24px; /* lub inny rozmiar */
  /* margin: 0 10px;  */
  cursor: pointer; /* Kursor zmienia się na wskazujący */
  transition: box-shadow 0.3s, transform 0.3s; /* Płynna zmiana cienia i transformacji */
}
.weekDay{
    padding: 5px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: "Kodchasan-SemiBold";
    font-size: 20px;
}

.stats{
  border-radius: 16px;
  background-color: #FFFFFF;
  margin: 10px;
  margin-bottom: 0;
  padding: 10px;
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.1);
}

.stats p {
  font-family: 'Montserrat-Medium';
  font-size: 16px;
  color: #000000;
  margin: 0;
  margin-bottom: 10px;
  padding-left: 10px;
  text-transform: uppercase;
}

.weekDayData{
    font-size: 16px;
    font-family: 'Montserrat-SemiBold';
}

.name{
    display: flex;
    padding: 10px;
    justify-content: flex-end;
    text-align: left;
    align-items: center;
    font-family: "Kodchasan-SemiBold";
    font-size: 14px;
}

.burger{
  color: #FFFFFF; 
  font-size: 24px;
  display: flex;
  align-items: center;
  cursor: pointer; /* Kursor zmienia się na wskazujący */
  transition: box-shadow 0.3s, transform 0.3s; /* Płynna zmiana cienia i transformacji */
}

.burger:hover {
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2); /* Większy cień przy najechaniu */
  transform: translateY(-2px); /* Lekko unosi przy najechaniu */
}

.burger:active {
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3); /* Mniejszy cień przy kliknięciu */
  transform: translateY(0); /* Powrót do normalnej pozycji */
}

.right_arrow{
  justify-self: end;
  font-size: 24px;
}

.down_arrow{
  color: #103476; 
  font-size: 24px;
  padding-right: 5%;
}

.singleActivity{
  display: flex;
  flex-direction: row;
  row-gap: 10px;
  column-gap: 10px;
}

.singleActivityInfo{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: space-between;
}

.buttons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  margin-bottom: 0px;
}

.buttonTrening {
  justify-self: center;
  background-image: linear-gradient(90deg, #1D61DC 9%, #1D61DC 47%, #103476 100%);
  color: #FFFFFF;
  align-items: center;
  width: 42%;
  padding: 10px;
  border-radius: 10px;
  border-width: 0px;
  font-family: 'Kodchasan-SemiBold';
  font-size: 12px;
  
  height: 100%;
  cursor: pointer; /* Kursor zmienia się na wskazujący */
  transition: box-shadow 0.3s, transform 0.3s; /* Płynna zmiana cienia i transformacji */
}

.buttonTrening:hover {
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2); /* Większy cień przy najechaniu */
  transform: translateY(-2px); /* Lekko unosi przy najechaniu */
}

.buttonTrening:active {
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3); /* Mniejszy cień przy kliknięciu */
  transform: translateY(0); /* Powrót do normalnej pozycji */
}
.input{
  border-radius: 10px;
  width: 42%;
  border-width: 1px;
  padding: 10px;
  margin-top: 0px;
  font-size: 12px;
  height: 100%;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.submitButton {
  background-image: linear-gradient(90deg, #1D61DC 9%, #1D61DC 47%, #103476 100%);
  color: #FFFFFF;
  justify-self: center;
  align-self: center;
  width: fit-content;
  padding: 10px 20px;
  border-radius: 10px;
  border-width: 0px;
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.1);
  font-family: 'Kodchasan-Medium';
  font-size: 12px;
  cursor: pointer; /* Kursor zmienia się na wskazujący */
  transition: box-shadow 0.3s, transform 0.3s; /* Płynna zmiana cienia i transformacji */
}

.submitButton:hover {
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2); /* Większy cień przy najechaniu */
  transform: translateY(-2px); /* Lekko unosi przy najechaniu */
}

.submitButton:active {
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3); /* Mniejszy cień przy kliknięciu */
  transform: translateY(0); /* Powrót do normalnej pozycji */
}

.emptyActivities{
  padding: 10px 20px;
}