.background{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #D7DFEE;
}

.rectangleStats{
  display: flex; /* Użycie flexbox do ustawienia układu */
  justify-content: space-between; /* Rozdziela przestrzeń między elementami, aby strzałka była po prawej stronie */
  align-items: center; /* Centruje elementy pionowo */

    background-color: #FFFFFF; /* Biały kolor tła */
    border-radius: 15px; /* Zaokrąglone rogi */
    padding: 10px; /* Wewnętrzne odstępy */
    margin: 10px; /* Odstęp od brzegów */
    margin-bottom: 40px;
    box-shadow: 0 4px 0 rgba(0, 0, 0, 0.15); /* Delikatny cień */
  }
  
.rectangleSActivities{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF; /* Biały kolor tła */
    border-radius: 15px; /* Zaokrąglone rogi */
    padding: 10px; /* Wewnętrzne odstępy */
    margin: 10px; /* Odstęp od brzegów */
  }


 .dayHeader {
    color: #000000; /* Niebieski kolor tekstu */
    font-size: 16px; /* Większa czcionka */
    font-family: 'Montserrat-Medium';
    margin-top: auto;
    margin-bottom: 10px;
    margin-left: 20px;
    letter-spacing: 2px;
    text-transform: uppercase; /* Zmienia tekst na wielkie litery */
  }

 .text p {
    color: #000000;
    font-size: 15px;
    font-family: 'Montserrat-Regular';
    margin: 5px;
  }

.textBold p {
    color: #000000;
    font-size: 15px;
    font-family: 'Montserrat-Medium';
    margin: 5px;
  }


  
.activity {
  display: grid;
  grid-template-columns: 1fr auto; /* Dwie kolumny: jedna elastyczna na tekst i jedna dla strzałki */
  align-items: center; /* Centrowanie w pionie */
  border-radius: 15px;
  border: 2px solid;
  margin: 10px 0;
  padding: 5px, 10px;
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.1);
  text-align: left;
  color: #000000;
  font-size: 15px;
  font-family: 'Montserrat-Regular';
  margin: 5px;
}

.activity p {
    padding-left: 10px;
    color: #000000;
    font-size: 15px;
    font-family: 'Montserrat-Regular';
    margin: 5px;
  }

.activity h3 {
    padding-top: 5px;
    padding-left: 10px;
    margin: 5px ;
    font-size: 15px;
    font-family: 'Montserrat-Regular';
    text-align: justify;
}


.navbar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
    background-image: linear-gradient(90deg, #1D61DC 0%, #103476 47%);
    color: #FFFFFF;
    font-family: "Poppins-Medium";
    font-size: 10px;
    box-shadow: 0 4px 0 rgba(0, 0, 0, 0.1);
  
}

.weekDay{
    padding: 5px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Kodchasan-SemiBold";
    font-size: 20px;
}

.stats{
  border-radius: 16px;
  background-color: #FFFFFF;
  margin: 10px;
  margin-bottom: 0;
  padding: 10px;
  padding-left: 10px;
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.1);
}

.weekDayData{
    font-size: 16px;
    font-family: 'Montserrat-SemiBold';
}

.name{
    display: flex;
    justify-content: flex-end;
    text-align: right;
    font-family: "Kodchasan-SemiBold";
    font-size: 14px;
}

.burger{
  color: #FFFFFF; 
  font-size: 24px;
  display: flex;
  align-items: center;
}

.right_arrow{
  justify-self: end;
  font-size: 24px;
}

.down_arrow{
  color: #103476; 
  font-size: 24px;
  padding-right: 5%;
}

.singleActivity{
  display: flex;
  flex-direction: row;
  row-gap: 10px;
  column-gap: 10px;
}

.singleActivityInfo{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: space-between;
}

.buttons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  margin-bottom: 0px;
}

.buttonTrening {
  justify-self: center;
  background-image: linear-gradient(90deg, #1D61DC 9%, #1D61DC 47%, #103476 100%);
  color: #FFFFFF;
  align-items: center;
  width: 42%;
  padding: 10px;
  border-radius: 10px;
  border-width: 0px;
  font-family: 'Kodchasan-SemiBold';
  font-size: 12px;
  
  height: 100%;
}

.stats p{
  font-family: 'Montserrat-SemiBold';
  font-size: 15px;
  color: #000000;
  margin: 0;
  text-transform: uppercase;
}

.input{
  border-radius: 10px;
  width: 42%;
  border-width: 1px;
  padding: 10px;
  margin-top: 0px;
  font-size: 12px;
  height: 100%;
}
