.background{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #D7DFEE;
}

.rectangleStats{
  display: flex; /* Użycie flexbox do ustawienia układu */
  justify-content: space-between; /* Rozdziela przestrzeń między elementami, aby strzałka była po prawej stronie */
  align-items: center; /* Centruje elementy pionowo */

    background-color: #FFFFFF; /* Biały kolor tła */
    border-radius: 15px; /* Zaokrąglone rogi */
    padding: 10px; /* Wewnętrzne odstępy */
    margin: 10px; /* Odstęp od brzegów */
    margin-bottom: 40px;
    box-shadow: 0 4px 0 rgba(0, 0, 0, 0.15); /* Delikatny cień */
  }
  
.rectangleSActivities{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF; /* Biały kolor tła */
    border-radius: 15px; /* Zaokrąglone rogi */
    padding: 10px; /* Wewnętrzne odstępy */
    margin: 10px; /* Odstęp od brzegów */
  }


 .dayHeader {
    display: flex;
    color: #000000; /* Niebieski kolor tekstu */
    font-size: 16px; /* Większa czcionka */
    font-family: 'Montserrat-Medium';
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: 10px;
    margin-left: 20px;
    letter-spacing: 2px;
    text-transform: uppercase; /* Zmienia tekst na wielkie litery */
  }

 .text p {
    color: #000000;
    font-size: 15px;
    font-family: 'Montserrat-Regular';
    margin: 5px;
    padding: 0px 10px;
    display: flex;
    flex-direction: row;
    text-align: space-between;
    justify-content: space-between;
  }

.textBold p {
    color: #000000;
    font-size: 15px;
    font-family: 'Montserrat-Medium';
    margin: 5px;
  }
.oneline{
  display: flex;
  flex-direction: row;
}


  
.activity {
  display: grid;
  grid-template-columns: 1fr auto; /* Dwie kolumny: jedna elastyczna na tekst i jedna dla strzałki */
  align-items: center; /* Centrowanie w pionie */
  border-radius: 15px;
  border: 2px solid;
  margin: 10px 0;
  padding: 5px, 10px;
  text-align: left;
  color: #000000;
  font-size: 15px;
  font-family: 'Montserrat-Regular';
  margin: 5px;  
  box-shadow: 0 4px 2px rgba(0, 0, 0, 0.1); /* Delikatny cień */
  cursor: pointer; /* Kursor zmienia się na wskazujący */
  transition: box-shadow 0.3s, transform 0.3s; /* Płynna zmiana cienia i transformacji */
}

.activity:hover {
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2); /* Większy cień przy najechaniu */
  transform: translateY(-2px); /* Lekko unosi przy najechaniu */
}

.activity:active {
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3); /* Mniejszy cień przy kliknięciu */
  transform: translateY(0); /* Powrót do normalnej pozycji */
}

.line{
  margin-bottom: 10px;
  padding: 0px, 10px;
  height: 0.5px;
  width: 100%;
}

.activity p {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10px;
    color: #000000;
    font-size: 15px;
    font-family: 'Montserrat-Regular';
    margin: 5px;
    gap: 10px;
  }

.activity h3 {
    padding-top: 5px;
    padding-left: 10px;
    margin: 5px ;
    font-size: 15px;
    font-family: 'Montserrat-Regular';
    text-align: justify;
}


.navbar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
    background-image: linear-gradient(90deg, #1D61DC 0%, #103476 47%);
    color: #FFFFFF;
    font-family: "Poppins-Medium";
    font-size: 10px;
    box-shadow: 0 4px 0 rgba(0, 0, 0, 0.1);
  
}

.weekDay{
    padding: 5px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: "Kodchasan-SemiBold";
    font-size: 20px;
}

.date_div{
  display: flex;
  justify-content: left;
  align-items: center;
  font-family: 'Montserrat-SemiBold';
  font-size: 14px;
  color: #FFFFFF;
  white-space: nowrap;
}

.weekDayData{
  font-size: clamp(12px, 2vw, 16px); /* Dynamiczna zmiana rozmiaru czcionki */
  font-family: 'Montserrat-SemiBold';
  text-overflow: ellipsis;
  width: fit-content;
  white-space: nowrap;
}
.name{
    display: flex;
    justify-content: flex-end;
    text-align: right;
    font-family: "Kodchasan-SemiBold";
    font-size: 14px;
}

.burger{
  color: #FFFFFF; 
  font-size: 24px;
  display: flex;
  align-items: center;
}

.right_arrow{
  justify-self: end;
  font-size: 24px;
}

.down_arrow{
  color: #103476; 
  font-size: 24px;
  padding-right: 5%;
}

.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0px rgba(0, 0, 0, 0.15);
  min-width: 20px;width: auto; /* Szerokość */
  height: auto; /* Wysokość */
  font-size: 24px; /* Wielkość tekstu lub ikony */
  cursor: pointer;
}


.arrowButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  color: #ffffff;
  cursor: pointer;
  font-size: 24px; /* lub inny rozmiar */
  /* margin: 0 10px;  */
  cursor: pointer; /* Kursor zmienia się na wskazujący */
  transition: box-shadow 0.3s, transform 0.3s; /* Płynna zmiana cienia i transformacji */
}

.comment {
  text-align: right; /* Wyrównuje tekst komentarza do prawej */
  flex-grow: 1; /* Zapełnia przestrzeń po lewej stronie */
  white-space: pre-wrap; /* Zachowuje spacje i nowe linie */
}

.button {
    font-size: 16px;
    color: #FFF;
    background-image: linear-gradient(90deg, #1D61DC 9%,#1D61DC 47%, #103476 100%);
    border-radius: 10px;
    border-width:0px;
    padding: 12px;
    margin: 4px;  
    font-family: 'Kodchasan-SemiBold';
}

.buttonContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
}