.background{
    display: grid;
    grid-template-rows: 1fr 10fr; 
    height: 100vh;
    background-color: #D7DFEE;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px 0 20px;
    background-image: linear-gradient(90deg, #1D61DC 0%, #103476 47%);
    color: #FFFFFF;
    font-family: "Kodchasan-SemiBold";
    font-size: 20px;
}

.inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 10px;
}

.input{
    border-radius: 10px;
    width: 100%;
    border-width: 0px;
    padding: 8px;
}

.input_container{
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 4px;
    font-family: 'Roboto-Regular';
    font-size: 14px;
    padding: 13px;
}

.button{
    background-image: linear-gradient(90deg, #1D61DC 9%, #1D61DC 47%, #103476 100%);
    color: #FFFFFF;
    width: 50%;
    padding: 10px;
    border-radius: 10px;
    border-width: 0px;
    font-family: 'Kodchasan-SemiBold';
    font-size: 20px;
    cursor: pointer; /* Kursor zmienia się na wskazujący */
    transition: box-shadow 0.3s, transform 0.3s; /* Płynna zmiana cienia i transformacji */
}

.button:hover {
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2); /* Większy cień przy najechaniu */
    transform: translateY(-2px); /* Lekko unosi przy najechaniu */
}

.button:active {
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3); /* Mniejszy cień przy kliknięciu */
    transform: translateY(0); /* Powrót do normalnej pozycji */
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 95%;
}

.customDropdown {
    border-radius: 2px;
    width: 100%;
    border-width: 0px;
    padding: 8px;
    background-color: #f8f6f6 !important;
}

.panelStyle {
    background-color: #f0f0f0 !important; /* Zmiana koloru tła panelu */
}
