.background{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #D7DFEE;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px 0 20px;
    background-image: linear-gradient(90deg, #1D61DC 0%, #103476 47%);
    color: #FFFFFF;
    font-family: "Kodchasan-SemiBold";
    font-size: 24px;
    height: 80px;
    min-height: 80px;
}

.toLeft{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 0;
    padding: 20px;
}

.multiDropDown{
    padding: 20px;
    background-color: #FFFFFF;
}

.input{
    border-radius: 4px;
    border-color: #CCC;
    border-width: 1px;
    padding: 12px 8px;
    font-size: 14px;
}

.input_container{
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-family: 'Roboto-Regular';
    font-size: 14px;
    padding: 13px;
    width: 100%;
}

.content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.p-calendar{
    width: 100%;
    background-color: blueviolet;
}

.p-calendar.calendar-control  {
    opacity: 1;
    color: black;
    background: #eeeeee;
  }
.add_button{
    font-size: 40px;
    color: #FFF;
    background-image: linear-gradient(90deg, #1D61DC 9%,#1D61DC 47%, #103476 100%);
    border-radius: 10px;
    padding: 8px;
}

.buttons{
    padding: 8px 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    row-gap: 12px;
    column-gap: 1rem;
}

.multiLineDiv{
    width: 100%;
    padding: 14px;
}

.multiLineInput{
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    line-height: 1.5;
    resize: vertical;
    overflow-wrap: break-word;
    font-family: 'Roboto-Regular';
    border-radius: 4px;
    border-color: #CCC;
}

.button{
    background-image: linear-gradient(90deg, #1D61DC 9%, #1D61DC 47%, #103476 100%);
    color: #FFFFFF;
    width: 50%;
    padding: 10px;
    border-radius: 10px;
    border-width: 0px;
    font-family: 'Kodchasan-SemiBold';
    font-size: 20px;
}