.dropdownContainer {
    position: relative;
    /* width: 250px; */
    font-family: Arial, sans-serif;
  }
  
  .dropdownHeader {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    background-color: #fff;
    cursor: pointer;
  }
  
  .placeholder {
    color: #aaa;
  }
  
  .dropdownMenu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 4px;
    overflow-y: auto;
    z-index: 10;
  }
  
  .dropdownItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    cursor: pointer;
  }
  
  .dropdownItem:hover {
    background-color: #f0f0f0;
  }
  
  .addButton {
    background: none;
    border: none;
    color: #007bff;
    cursor: pointer;
    text-decoration: underline;
  }

  .selectedOption{
    display: flex;
    justify-content: space-between; 
    align-items: center;
  }
  
  .addButton:hover {
    color: #0056b3;
  }
  
  .selectedList {
    margin-top: 16px;
  }
  
  .selectedList h4 {
    margin: 0 0 8px;
    font-size: 14px;
    color: #333;
  }

  .searchInput {
    width: 100%;
    padding: 8px;
    border: 0px solid #ccc;
    border-radius: 4px;
    margin-bottom: 8px;
  }
  
  .selectedList ul {
    list-style: disc;
    margin: 0;
    padding-left: 20px;
  }
  
  .selectedList li {
    font-size: 14px;
    color: #555;
  }
  
  .confirmButton, .moveButton{
    background-image: linear-gradient(90deg, #1D61DC 9%,#1D61DC 47%, #103476 100%);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
    width: 100%;
  }

  .removeButton {
    all: unset !important;
    padding: 0px 10px 0px 0px !important;   
  }
  
  .removeButton:hover {
    font-weight: bold;
  }

  .moveButton {
    font-size: 20px !important;
    margin: 0 5px;
    padding: 5px 10px;
  }

  .buttonContainer{
    padding: 5px;
    display: flex;
    justify-content: space-between;
  }