.background{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #D7DFEE;
    justify-content: space-between;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-image: linear-gradient(90deg, #1D61DC 0%, #103476 47%);
    color: #FFFFFF;
    box-shadow: 0 4px 0 rgba(0, 0, 0, 0.1);
    min-height: 80px;
    position: relative;
    
}

.line{
  padding: 0px, 20px;
  background-color: #D7DFEE;
  height: 0.5px;
  width: 100%;
}

.uppercase{
    text-transform: uppercase;
}

.profilDiv{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    font-family: 'Kodchasan-SemiBold';
    font-size: 20px;
    text-align: center;
}

.profilDiv_editing{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 100%;
  font-family: 'Kodchasan-SemiBold';
  font-size: 20px;
  text-align: center;
}
.trainingDetails {
    padding: 5px 20px;
    background-color: #ffffff;
    border-radius: 20px;
    margin: 10px 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.trainingDetails label {
  box-shadow: none;
}

.trainingDetails p {
    font-family: 'Montserrat-Medium';
    font-size: 14px;
    margin-bottom: 20px;
    /* display: flex;
    flex-direction: row;
    justify-content: space-between; */
}

.oneline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.trainingDetails label {
    font-family: 'Montserrat-SemiBold';
    font-size: 14px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

.trainingDetails li {
    font-family: 'Montserrat-Regular';
    font-size: 12px;
    margin-bottom: 10px;
}
.commentSection {
    font-size: 12px;
    font-family: 'Montserrat-Regular';
    margin-bottom: 15px;
    line-height: 1.5;
    text-align: justify;
}

.uppercase{
    text-transform: uppercase;
}

.burger{
    color: #FFFFFF; 
    font-size: 24px;
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    padding: 20px;
  }

input, select{
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
    font-family: 'Montserrat-Medium';
}

.buttonRozwin {
  display: flex;
  justify-content: flex-start;
  background-color: #D7DFEE;
  border: 0.5px solid #103476;
  color: #103476;
  font-family: 'Kodchasan-Regular';
  border-radius: 10px;
  padding: 5px 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.buttonTrening {
    justify-self: center;
    background-image: linear-gradient(90deg, #1D61DC 9%, #1D61DC 47%, #103476 100%);
    color: #FFFFFF;
    width: 50%;
    padding: 10px;
    border-radius: 10px;
    border-width: 0px;
    font-family: 'Kodchasan-SemiBold';
    font-size: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer; /* Kursor zmienia się na wskazujący */
    transition: box-shadow 0.3s, transform 0.3s; /* Płynna zmiana cienia i transformacji */
}

.buttonTrening:hover {
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2); /* Większy cień przy najechaniu */
    transform: translateY(-2px); /* Lekko unosi przy najechaniu */
}

.buttonTrening:active {
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3); /* Mniejszy cień przy kliknięciu */
    transform: translateY(0); /* Powrót do normalnej pozycji */
}


.buttoncenter {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.switchContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
    vertical-align: middle;
    white-space: nowrap;
    font-size: 14px;
    font-family: 'Montserrat-Medium';
  }

  .switchContainer p{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .emotki {
    display: flex;
    font-family: 'Montserrat-Medium';
    font-size: 14px;
    text-transform: uppercase;
    justify-content: space-between;
    align-items: center;
  }

  .odczucia {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 24px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
  }
  
  input:checked + .slider {
    background-color: #0f9300;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  .trainerComment {
    margin: 15px 0;
  }
  
  .moodContainer {
    text-align: center;
    margin-bottom: 15px;
  }
  
  .moods {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
  }
  
  .mood {
    font-size: 24px;
    cursor: pointer;
    transition: transform 0.2s ease;
  }
  
  .mood:hover {
    transform: scale(1.2);
    
  }
  
  .selected {
    transform: scale(1.2);
    border-bottom: 2px solid #022457;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.2)); /* Add a subtle shadow */

  }
  
  
  textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: none;
  }
  
  .emoji {
    font-size: 1.5rem; /* Increase emoji size */
    line-height: 1;
    transition: transform 0.2s, filter 0.2s; /* Add smooth transitions for hover effects */
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.emoji:hover {
    transform: scale(1.1); /* Enlarge emoji on hover */
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.2)); /* Add a subtle shadow */
}

.buttons{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 2rem;
}