.backbutton {
    cursor: pointer; /* Kursor zmienia się na wskazujący */
    transition: box-shadow 0.3s, transform 0.3s; /* Płynna zmiana cienia i transformacji */
    display: flex;
    justify-content: center;
    align-items: center;
}

.backbutton:hover {
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2); /* Większy cień przy najechaniu */
    transform: translateY(-2px); /* Lekko unosi przy najechaniu */
}

.backbutton:active {
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3); /* Mniejszy cień przy kliknięciu */
    transform: translateY(0); /* Powrót do normalnej pozycji */
}