.emotki {
    display: flex;
    font-family: 'Montserrat-Medium';
    font-size: 14px;
    text-transform: uppercase;
    justify-content: space-between;
    align-items: center;
  }

  @media (max-width: 400px) {
    .feelingsText {
        display: none; /* Ukrywa span na ekranach mniejszych niż 400px */
    }
}

@media (max-width: 400px) {
  .feelingsEmoticon {
    
      font-size: 20px;
  }
}

