.background{
    display: grid;
    grid-template-rows: 1fr 10fr; 
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #D7DFEE;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    padding-right: 10px;
    background-image: linear-gradient(90deg, #1D61DC 0%, #103476 47%);
    color: #FFFFFF;
    font-family: "Poppins-Medium";
    font-size: 20px;
    height: 100px;
    min-height: 80px;
}

.burgerAndDate{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.right_navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.date_div, .writing_div{
    display: flex;
    justify-content: right;
    text-align: right;
}

.writing_div{
    display: flex;
    font-family: 'Kodchasan-SemiBold';
    font-size: 16px;
    justify-content: right;
    padding: 5px 10px;
    padding-right: 10px;
    cursor: pointer; /* Kursor zmienia się na wskazujący */
    transition: box-shadow 0.3s, transform 0.3s; /* Płynna zmiana cienia i transformacji */
}

.date_div{
    display: flex;
    justify-content: left;
    align-items: center;
    font-family: 'Montserrat-SemiBold';
    font-size: 14px;
    color: #FFFFFF;
    white-space: nowrap;
}

.arrowButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 24px; /* lub inny rozmiar */
    /* margin: 0 10px;  */
    cursor: pointer; /* Kursor zmienia się na wskazujący */
    transition: box-shadow 0.3s, transform 0.3s; /* Płynna zmiana cienia i transformacji */
}

.todayBorder {
    border: 2px solid #103476 ; 
    padding: 10px; 
    border-radius: 5px;
}

.todayText {
    color: #a7b7d6;  
    float: right;
    text-transform: lowercase;  
}

.weekDay{
    border-radius: 16px;
    background-color: #FFFFFF;
    margin: 10px;
    margin-bottom: 0;
    padding: 10px;
    padding-left: 10px;
    box-shadow: 0 4px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer; /* Kursor zmienia się na wskazujący */
    transition: box-shadow 0.3s, transform 0.3s; /* Płynna zmiana cienia i transformacji */
}

.weekDay:hover {
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2); /* Większy cień przy najechaniu */
    transform: translateY(-2px); /* Lekko unosi przy najechaniu */
}

.weekDay:active {
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3); /* Mniejszy cień przy kliknięciu */
    transform: translateY(0); /* Powrót do normalnej pozycji */
}

.weekDay p{
    font-family: 'Montserrat-SemiBold';
    font-size: 15px;
    color: #000000;
    margin: 0;
    /* text-transform: uppercase; */
}

.weekDay body {
    font-family: 'Montserrat-Regular';
    font-size: 15px;
    color: #000000;
    padding-top: 0.5rem;
    margin: 0;
}

.weeklist{
    /* display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; */
    display: flex;
    flex-direction: column;
}



.activity {
    display: grid;
    grid-template-columns: 1fr auto; /* Dwie kolumny: jedna elastyczna na tekst i jedna dla strzałki */
    align-items: center; /* Centrowanie w pionie */
    border-radius: 15px;
    border: 2px solid;
    margin: 10px 0;
    padding: 5px, 10px;
    box-shadow: 0 4px 0 rgba(0, 0, 0, 0.1);
    text-align: left;
    color: #000000;
    font-size: 15px;
    font-family: 'Montserrat-Regular';
    margin: 5px;
  }

  .activity p {
    padding-left: 10px;
    color: #000000;
    font-size: 15px;
    font-family: 'Montserrat-Regular';
    margin: 5px;
  }

  .optionalStats {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .buttons{
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    margin: 10px;
    margin-bottom: 0px;
  }

  .buttonTrening {
    justify-self: center;
    background-image: linear-gradient(90deg, #1D61DC 9%, #1D61DC 47%, #103476 100%);
    color: #FFFFFF;
    width: 42%;
    padding: 10px;
    border-radius: 10px;
    border-width: 0px;
    font-family: 'Kodchasan-SemiBold';
    font-size: 12px;
}

.underButton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 10px; */
    width: 42%;
    font-size: 11px;
    
}

.underButtons{
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    margin: 0px 10px;
  }

.activity h3 {
    padding-top: 5px;
    padding-left: 10px;
    margin: 5px ;
    font-size: 15px;
    font-family: 'Montserrat-Regular';
    text-align: justify;
}

/* .singleActivity{
    display: flex;
    flex-direction: row;
    row-gap: 10px;
    column-gap: auto;
} */

.singleActivity {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-align: right;
    justify-content: flex-end;

}


.singleActivityInfo {
    display: flex;
    /* justify-content: space-between; Równomierne rozłożenie aktywności */
    width: 100%;
    font-size: 14px;
    font-family: 'Montserrat-Medium';
    text-transform: lowercase;
    white-space: nowrap; /* Nie przerywać tekstu */
    text-align: right;
}

/* .singleActivityInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: space-between;
    font-size: 14px;
    text-transform: lowercase;
    font-family: 'Montserrat-Regular';
} */

.emojiAndTime {
    display: flex;
    justify-content: flex-end; /* Wyrównuje wszystko do prawej */
    align-items: center;
    gap: 10px; /* Dystans między emotką a godziną */
}

.emojiContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 30px; /* Ustalona szerokość kontenera dla emotek */
}
.timeText {
    font-size: 16px;
    text-align: right;
    width: 40px; /* Ustalona szerokość kontenera dla godzin */
}